<h3 class="govuk-heading-s">abbreviations and acronyms</h3>
<p class="govuk-body">The first time you use an abbreviation or acronym, explain it in full on each page (unless it’s well known, like UK, VAT and BEIS). Then refer to it by initials. For example: person with significant control (PSC). Do not use full stops in abbreviations: LLP not L.L.P.</p>

<p class="govuk-body">Acronyms may be used in the first instance in certain circumstances, for example if it’s being used in a long heading.</p>

<h3 class="govuk-heading-s">accounts</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">annual return</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">articles of association</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">authentication code</h3>
<p class="govuk-body">Lower case.</p>
