<h3 class="govuk-heading-s">abbreviations and acronyms</h3>
<p class="govuk-body">The first time you use an abbreviation or acronym, explain it in full on each page unless it’s well known, like UK, BEIS, DVLA, US, EU, VAT and MP. Then refer to it by initials. For example: Learning Platform for Government (LPG). Do not use full stops in abbreviations: BBC not B.B.C. </p>

<p class="govuk-body">Acronyms may be used in the first instance in certain circumstances, for example if it’s being used in a long heading.</p>

<h3 class="govuk-heading-s">annual return</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">authentication code</h3>
<p class="govuk-body">Lower case.</p>
