<h3 class="govuk-heading-s">Companies House</h3>
<p class="govuk-body">Title case.</p>
<p class="govuk-body">Always show in full, never abbreviate to CH.</p>

<h3 class="govuk-heading-s">Companies House account</h3>
<p class="govuk-body">Lower case for ‘account’.</p>

<h3 class="govuk-heading-s">Companies House register</h3>
<p class="govuk-body">Lower case for ‘register’.</p>

<h3 class="govuk-heading-s">Companies House Service</h3>
<p class="govuk-body">Title case.</p>

<h3 class="govuk-heading-s">confirmation statement</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">credit card</h3>
<p class="govuk-body">Lower case.</p>
