<h3 class="govuk-heading-s">Network</h3>
<p class="govuk-body">In the context of Companies House networks, ‘Network’ should have a capital N when writing its name in full. Use lower case when referring to ‘the network’ in a sentence.</p>
<p class="govuk-body">The use of apostrophes depends on the name. For example, 'the Women’s Network' and 'the Carers Network'.</p>

<h3 class="govuk-heading-s">non-designated member</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Hyphen between non and designated.</p>
