<h3 class="govuk-heading-s">obliged entity (OE)</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to OE.</p>

<h3 class="govuk-heading-s">officer</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">other registrable person</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to ORP.</p>

<h3 class="govuk-heading-s">overseas entity</h3>
<p class="govuk-body">Lower case. Also see <a href="#roe">Register of Overseas Entities</a> and <a href="#overseas-entity-id">Overseas Entity ID</a>.</p>

<h3 class="govuk-heading-s" id="overseas-entity-id">Overseas Entity ID</h3>
<p class="govuk-body">Upper case for first letter of each word and 'ID'.</p>

<h3 class="govuk-heading-s" id="overseas-entity-id">Overseas entity verification checks statement</h3>
<p class="govuk-body">Upper case for Overseas, then lower case.</p>
