<h3 class="govuk-heading-s">people with significant control</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Abbreviated to PSC or PSCs.</p>

<h3 class="govuk-heading-s">people with significant control register</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Abbreviated to PSC register.</p>

<h3 class="govuk-heading-s">person with significant control</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Abbreviated to PSC.</p>

<h3 class="govuk-heading-s">private companies</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">public companies</h3>
<p class="govuk-body">Lower case.</p>
