<h3 class="govuk-heading-s">people with significant control (PSC)</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to PSC or PSCs.</p>

<h3 class="govuk-heading-s">people with significant control register (PSC register)</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to PSC register.</p>

<h3 class="govuk-heading-s">person with significant control (PSC)</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to PSC.</p>

<h3 class="govuk-heading-s">presenter</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">private company</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">protected online filing (PROOF)</h3>
<p class="govuk-body">Lower case. Explain the acronym at first use, then abbreviate to PROOF. </p>

<h3 class="govuk-heading-s">public company</h3>
<p class="govuk-body">Lower case.</p>
