<h3 class="govuk-heading-s">people with significant control</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Abbreviate to PSC or PSCs. Explain the acronym at first use.
</p>

<h3 class="govuk-heading-s">people with significant control register</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Abbreviate to PSC register. Explain the acronym at first use.
</p>

<h3 class="govuk-heading-s">person with significant control</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Abbreviate to PSC. Explain the acronym at first use.
</p>

<h3 class="govuk-heading-s">presenter</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">private company</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">public company</h3>
<p class="govuk-body">Lower case.</p>
