<h3 class="govuk-heading-s">register</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">registered office address</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s" id="roe">Register of Overseas Entities</h3>
<p class="govuk-body">Title case.</p>

<h3 class="govuk-heading-s">relevant legal entity</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to RLE.</p>

<h3 class="govuk-heading-s">relevant officer</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">resolution</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">right to manage (RTM) company</h3>
<p class="govuk-body">Lower case. Explain the acronym at first use, then abbreviate to RTM company.</p>
