<h3 class="govuk-heading-s">Scottish limited partnership</h3>
<p class="govuk-body">Upper case for ‘Scottish’.</p>
<p class="govuk-body">Abbreviate to SLP.</p>

<h3 class="govuk-heading-s">Scottish qualifying partnership</h3>
<p class="govuk-body">Upper case for ‘Scottish’.</p>
<p class="govuk-body">Abbreviate to SQP.</p>

<h3 class="govuk-heading-s">secretary</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">Service names</h3>
<p class="govuk-body">Always write out service names in full, never abbreviate.</p>

<h3 class="govuk-heading-s">shareholder</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">Societas Europaea</h3>
<p class="govuk-body">Upper case.</p>
<p class="govuk-body">Abbreviate to SE.</p>

<h3 class="govuk-heading-s">strike off</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Always two separate words, never hyphenated. For example ‘To strike off a company’, ‘Strike off action’ and ‘This company has been struck off’.</p>
