<h3 class="govuk-heading-s">Scottish limited partnership</h3>
<p class="govuk-body">Upper case for ‘Scottish’.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to SLP.</p>

<h3 class="govuk-heading-s">Scottish qualifying partnership</h3>
<p class="govuk-body">Upper case for ‘Scottish’.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to SQP.</p>

<h3 class="govuk-heading-s">secretary</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">service address</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">Service names</h3>
<p class="govuk-body">Always write out service names in full, never abbreviate. Use upper case for first letter of the first word, the rest lower case, unless it’s a proper noun.</p>

<h3 class="govuk-heading-s">share capital</h3>
<p class="govuk-body">Lower case.</p>

<h3 class="govuk-heading-s">shareholder</h3>
<p class="govuk-body">Lower case. All one word.</p>

<h3 class="govuk-heading-s">single alternative inspection location (SAIL) address</h3>
<p class="govuk-body">Lower case, but use upper case for the acronym. Explain the acronym at first use, then abbreviate to SAIL address.</p>

<h3 class="govuk-heading-s">Societas Europaea</h3>
<p class="govuk-body">Upper case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to SE.</p>

<h3 class="govuk-heading-s">Standard Industrial Classification (SIC) code</h3>
<p class="govuk-body">Title case for the first letter of each word, except 'code'. Explain the acronym at first use, then abbreviate to SIC code.</p>

<h3 class="govuk-heading-s">strike off</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Always two separate words, never hyphenated. For example ‘To strike off a company’, ‘Strike off action’ and ‘This company has been struck off’.</p>
